//--------------------------------------------------------
//	FU - Layout - Scaffolding
//--------------------------------------------------------

// Author(s):
//    * Gareth Davies
// Notes:
//    * Mobile first please




//------------------------------------
// $ Imports
//------------------------------------

@import '../helper/variables';
@import '../helper/mixins';
@import '../config/susy';




//------------------------------------
// $ Scaffolding
//------------------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  @include container(100%);
  margin: 0 0 $site-footer-height;
  background-color: $colour-light-grey;
}




//------------------------------------
// $ Main site sections
//------------------------------------

// Shared code

.l-site-content {
  @include container(100%);
//  width: 100%;
  max-width: $layout-site-max-width;
  min-height: calc(100% - #{$site-header-height});
  margin: 0 auto;
  background-color: $colour-white;
}

.l-site-content__container {
  @include container(100%);
  padding: 0 ($padding-baseline * 0);
}

// >= 769px

@media (min-width: 769px) {
  .l-site-content__container {
    padding: 0 ($padding-baseline * 2);
  }
}

// >= 1024px

@media (min-width: 1024px) {
  .l-site-content__container {
    padding: 0 ($padding-baseline * 4);
  }
}
