//-------------------------------------------------------------
//	FU - Components - UsageGraph - D3/React Component container
//-------------------------------------------------------------

// Requires:
//  * _variables.scss
// Author(s):
//	* Gareth Davies
// Notes:
//	* Mobile first please

//------------------------------------
// $ Imports
//------------------------------------

@import '../helper/variables';


//------------------------------------
// $ UsageGraph
//------------------------------------

.graph-container {
    position: relative;
    background-color: $colour-white;
    padding: 40px;
}

.graph-container svg {
    overflow: visible;
}
