//--------------------------------------------------------
//	FU - Components - List
//--------------------------------------------------------

// Author(s):
//	* Gareth Davies
// Notes:
//	* Mobile first please




//------------------------------------
// $ No styling
//------------------------------------

.c-list--no-styling {
    margin: 0;
    padding: 0;
    list-style: none;
}
