//--------------------------------------------------------
//	FU - Base - Fonts
//--------------------------------------------------------

// Author(s):
//	* Gareth Davies




//------------------------------------
// $ Font Families
//------------------------------------

@font-face {
    font-family: 'FrutigerLTW01-45Light';
    src: url('/fonts/2a004a53-ac5c-43b3-9eeb-9f74ae4c1609.woff') format('woff'),
         url('/fonts/74d53f3b-1683-4d5a-a556-e13f6553cdf0.ttf') format('truetype');
}

@font-face {
    font-family: 'Frutiger Neue W01 Bd';
    src: url('/fonts/26f1236c-a914-477f-9d0f-10d758702626.woff2') format('woff2'),
         url('/fonts/7875f3d5-b62b-445c-8c9e-d65da1514e9d.woff') format('woff'),
         url('/fonts/1c242f4e-0c64-47cc-8cbc-e53d949280ba.ttf') format('truetype');
}
