//--------------------------------------------------------
//	FU - Helper - Mixins
//--------------------------------------------------------

// Author(s):
//	* Gareth Davies




//------------------------------------
// $ Clearfix
//------------------------------------

@mixin clearfix {

    &::after {
        clear: both;
        content: '';
        display: table;
    }

}
